body {
    background-image: url(HomeBG.png);
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-color: #464646;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: white;
}

h1 {
    font-weight: lighter;
    margin-top: 100px;
    margin-bottom:  30px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 40px;
    font-weight: normal;
}

h3 {
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: lighter;
}

.meowContainer {
    align-content: center;
}

#deeznuts {
    cursor: zoom-in;
    width: 500px; 
    height: auto;
}